*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(../Imagenes/bg\ grano.avif);
    background-size: 100vw;
}
#logo{
    margin-right: 1rem;
    width: 5rem;
    background-color: rgba(223, 210, 169, 0.448);
    border: 2px solid rgba(56, 25, 4, 0.479);

}

h1{
    text-decoration: underline;
    margin: 60px;
    text-align: center;
    font-size: 3rem;
}
h2{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.644);
    font-size: 1rem;
    border-bottom: 4px solid rgba(207, 172, 89, 0.448) ;
}
a{
    color: white;
    padding-left: 1rem;
    text-decoration: none;
    transition: all .5s ease;
}
nav a:hover{
    background-color: rgba(207, 172, 89, 0.448);
    border-radius: 3px;
    padding: 2rem;

}
        /*Main Page*/

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_index1{
    width: 80vw;
    height: 60vh;
}
#img1{
    box-shadow: 3px 3px 8px black;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#imgindex2{
    box-shadow: 3px 3px 15px;
    width: 40%;
    height: 100%;
}
#textindex{
    background-color: rgba(185, 177, 158, 0.623);
    border-radius: 15px;
    font-size: 1rem;
    width: 27rem;
    padding: 20px;
    transition: all .3s;
}
#textindex:hover{
    transform: scale(1);
    color: rgb(10, 8, 2);
    background-color: rgba(210, 202, 183, 0.778);
}

.container2_index{
display: flex;
width: 80vw;
margin-top: 2rem;
align-items: center;
justify-content: space-around;

}
@media only screen and (min-width:768px) and (max-width:1024px){
    h1{
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
    }
    #logo{
        background-color: transparent;
        border: 3px solid black;
    }
    .container2_index{
        justify-content: center;
        padding: 2rem;
        background-color: burlywood;
        border-radius: 15px;

    }
    #textindex{
        width: 30%;
        height: 100%;
        background-color: transparent;
    }
    #imgindex2{
        height: 100%;
    }
    header{
        position: sticky;
        top: 0px;
        flex-direction: column-reverse;
    }
    nav a{
        color: black;
        text-decoration: underline;
        font-size: 1.3rem;
    }
    .navbar{
        font-size: 1.6rem;
        flex-direction: column;
    }
}
@media only screen and (min-width:320px) and (max-width: 768px){
    body{
        background-repeat: no-repeat;
    }
}

        /*About us Page*/
        .main_container_aboutus{
            display: flex;
            flex-direction: column;
        }

.img_about_us{
    width: 30%;
    margin: 1rem;
    box-shadow: 3px 3px 8px black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card1, .card2, .card3{
    width: 80%;
    height: 40%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    
}
.textaboutus{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    width: 40%;
    height: 40%;
    margin-top: 2rem;
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .main_container_aboutus{
        display: flex;
        height: 100vh;
        flex-direction: row;
    }
    .card1, .card2, .card3{
        flex-direction: column;
        align-items: center
    }
    .img_about_us{
        width: 80%;
        height: 70%;
    }
    .textaboutus{
        width: 90%;
        font-size: 1rem;
    }
}


    @media only screen and (min-width:320px) and (max-width: 768px){
        .textaboutus{
            width: 90%;
            font-size: .9rem;
        }
        h1{
            font-size: 2rem;
        }
        .card1, .card2, .card3{
            padding: 1rem;
        }

    }

        /*Contact Page*/

#imgcontact{
    margin-bottom: 3rem;
        box-shadow: 3px 3px 8px black;
        width: 70rem;
}

.footer{
    font-size: .8rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.582);
padding: 1.5rem;
}
footer a{
    color: black;
}
.contact_txt{
    background-color:rgba(223, 211, 169, 0.637) ;
}
@media only screen and (min-width:320px) and (max-width: 768px){
    #imgcontact{
            box-shadow: 3px 3px 8px black;
            width: 80%;
    }
    footer{
        position: sticky;
        flex-wrap: wrap;
        bottom: 0px;
    }
    .contact_txt{
        width: 70%;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px){
    #imgcontact{
            box-shadow: 3px 3px 8px black;
            width: 80%;
    }
    .contact_txt{
        background-color: transparent;
        width: 80%;
    }
    h1{
        margin: 1rem;
    }
    footer{
        font-size: 1rem;
        position: sticky;
        bottom: 0px;
        align-items: center;
        min-height: 10vh;
    }
}

        /*benefits & Tips Page */
        .container_main{
            display: flex ;
            flex-direction: column;
            align-items: center;
        }
.benefit_card1, .benefit_card2{
    margin-top: 5rem;
    width: 50rem;
    height: 21rem;
    font-size: 1.2rem;
    box-shadow: 3px 3px 15px rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(248, 240, 226, 0.315);
    
}
ol{
    width: 18rem;
    height: 19rem;
    font-size: 1.4rem;

}
.imgbenefit{
    width: 20rem;
    height: 17rem;
}
@media only screen and (min-width:320px) and (max-width: 768px){
    ol{
        font-size: 1rem;
    }
    ol li{
        padding: 1rem;
    }
    .benefit_card1, .benefit_card2{
        box-shadow: none;
        width: 80%;
        height: 40%;
        background-color: transparent;
    }  
ol li{
    font-size: .8rem;
}
.imgbenefit{
    width: 50%;
    height: 50%;
    border: 10px solid rgb(224, 199, 130);
}

}
@media only screen and (min-width:768px) and (max-width:1024px){

    .imgbenefit{
        width: 40%;
        height: 60%;
        border: 10px solid rgb(173, 149, 83);
    }
    ol{
        font-size: 1rem;
    }
    ol li{
        padding: 1rem;
    }
    .benefit_card1, .benefit_card2{
        box-shadow: none;   
}

}
    /*Information Page*/
table,th, td,tr{
    width: 2rem;
text-align: center;
border: 2px solid black;
border-collapse: collapse;
padding: 3rem;
background-color: rgba(235, 224, 216, 0.13);
}
table{
    margin-bottom: 10rem;
}
@media only screen and (min-width:768px) and (max-width:1024px){
    table,th, td,tr{
        padding: 2rem;
    }
}
@media only screen and (min-width:320px) and (max-width: 768px){
    table,th, td,tr{
        padding: .3rem;
    } 
}
    /* raffle page*/

    .contenedor_raffle{
        display: flex;
        justify-content: space-around;
        width: 80%;
        height: 90vh;
    }
    .img_raffle{
        width: 80%;
        margin: 5%;
        box-shadow: 2px 2px 10px 0px;
    }

form{
    font-size: .9rem;
    justify-content: space-around;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: rgba(223, 209, 164, 0.692);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px;
}
.contenedor_img_raffle{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form_up{
    display: flex;
    flex-direction: column;
}

input[type="submit"]{
    width: 100px;
    height: 30px;
}

.services{
    display: flex;
    flex-direction: column;
}
.submitbtn{
    display: flex;
    justify-content: center;
}
.footer_raffle{
    background-color: rgba(150, 137, 137, 0.575);
    width: 100VW;
    height: 20vh;
}
iframe{
    height: 20vh;
}

@media only screen and (min-width:320px) and (max-width: 768px){
iframe{
    width: 20%;
}
.contenedor_raffle{
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-size: 1rem;
}
h2{
    font-size: .8rem;
}
}
